<mat-toolbar class="header">
  <div class="logos-container">
    <!--
    <img src="images/vass.png" alt="Logo 1" class="logo">
    <div class="vertical-divider"></div>
    <img src="images/workOS.svg" alt="Logo 2" class="logo">
    -->
  </div>

  <div class="actions">
    <a href="https://github.com/your-username" target="_blank">
      <mat-icon>code</mat-icon>
    </a>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>dark_mode</mat-icon>
    </button>
  </div>
</mat-toolbar>
