<!-- decrypt-area.component.html -->
<div class="decrypt-container">
  <p class="subtitle">VASS</p>
  <h1 class="title">Secure Decryption</h1>

  <form [formGroup]="decryptForm">
    <div class="text-areas-container">
      <div class="text-area-wrapper">
        <div class="label-container">
          <label>Encrypted Code</label>
          <div class="line-container">
            <div class="line"></div>
          </div>
        </div>
        <textarea
          formControlName="encryptedCode"
          placeholder="Paste your encrypted code here"
          [ngClass]="{'focused': encryptedFocused}"
          (focus)="encryptedFocused = true"
          (blur)="encryptedFocused = false"
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10">
        </textarea>
        <div class="actions">
          <button mat-flat-button class="decrypt-btn mobile-first" (click)="decrypt()" [disabled]="!decryptForm.get('encryptedCode')?.value">
            <mat-icon>lock_open</mat-icon>
            Decrypt
          </button>
          <button mat-button class="clear-btn mobile-second" (click)="clearForm()">
            <mat-icon>delete_outline</mat-icon>
            Clear
          </button>
        </div>
      </div>

      <div class="text-area-wrapper">
        <div class="label-container">
          <label>Decrypted Code</label>
          <div class="line-container">
            <div class="line"></div>
          </div>
        </div>
        <button mat-icon-button class="copy-btn" (click)="copyToClipboard()" [disabled]="!decryptForm.get('decryptedCode')?.value">
          <mat-icon>{{copiado ? 'check' : 'content_copy'}}</mat-icon>
        </button>
        <textarea
          formControlName="decryptedCode"
          placeholder="Your decrypted code will appear here"
          [ngClass]="{'focused': decryptedFocused}"
          (focus)="decryptedFocused = true"
          (blur)="decryptedFocused = false"
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10"
          readonly>
          {{decryptForm.get('decryptedCode')?.value | json}}
        </textarea>
      </div>
    </div>
  </form>
  <div class="footer">
    V {{version}} | NST | {{currentYear}}
  </div>
</div>
