// styless.scss
$dark-bg-primary: #111111;
$dark-bg-secondary: oklch(31.7% 0.0653 219 / 1);
$text-primary: #FFFFFF;
$text-secondary: #B3B3B3;
$text-tertiary: #808080;

:root {
  --bg-primary: #{$dark-bg-primary};
  --bg-secondary: #{$dark-bg-secondary};
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
  --text-tertiary: #{$text-tertiary};
  --dark-gradient: linear-gradient(to bottom, var(--bg-secondary), transparent);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  line-height: 1.6;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow: hidden;
}

.mat-toolbar {
  background-color: transparent !important;
}




@media (max-width: 768px) {
  html, body {
    height: auto;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

article {
  width: 100%;
  text-align: center;
}

article h2.title {
  background: linear-gradient(90deg,
    rgba(220, 220, 220, 1) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(170, 170, 170, 1) 50%,
    rgba(220, 220, 220, 1) 75%,
    rgba(255, 255, 255, 1) 100%);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-change 4s linear infinite;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}

@keyframes gradient-change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Fallback para navegadores que no soportan background-clip */
@supports not (background-clip: text) {
  article h1.title {
    color: #e0e0e0;
    -webkit-text-fill-color: #e0e0e0;
  }
}
